.level4 {
    color: grey;
    margin-left: 20px;
}

.list {
    margin-left: 40px;
}

.table {
    width: 80vw;
    height: 50px;
    margin: 2vw 15px;
    border: gray solid 2px;
}

.table_head {
    background-color: silver;
}

.table_data {
    background-color: #8686fc;
}